body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    padding: 25px;
    margin: 10px;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    padding: 10px;
    margin: 5px;
}

section {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: 0; 
    padding-bottom: 30px;
}

aside {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 170px;
    margin-right: 0;
}

div {
    
}